<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="connString" value="server=cornl.faastdemo.com;uid=app;pwd=Fast12341234; database=DemoCafe"/>
    <add key="server" value="cornl.faastdemo.com"/>
    <add key="uid" value="app"/>
    <add key="pwd" value="Fast12341234"/>
    
    <!--<add key="connString" value="server=DESKTOP-Q07NSGI\SQLEXPRESS;Integrated Security=SSPI;Persist Security Info=False; database=FusionCombo;"/>-->
    <!--<add key="server" value="DESKTOP-Q07NSGI\SQLEXPRESS"/>
    <add key="uid" value="sa"/>
    <add key="pwd" value="Fast1234"/>-->
  </appSettings>
</configuration>