<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
     <machineKey validationKey="44131FEBC1172935E47AC0F1E323689FC5653EAB50393479BC036C944DD55466F6F88A88BA8736BDA248BC02AEAC4AD715114E201A9095B296B0C75B1BD663C8" decryptionKey="B7E1F4631A1FC8452EF80BF0719D70A2D4D4CDB68CD3B599" validation="SHA1" />
     <sessionState mode="InProc" cookieless="false" timeout="20" />
    </system.web>
  <appSettings>
    <add key="connString" value="server=cornl.faastdemo.com;uid=app;pwd=Fast12341234; database=FusionCombo"/>
  <!--<add key="connString" value="server=DESKTOP-Q07NSGI\SQLEXPRESS;Integrated Security=SSPI;Persist Security Info=False; database=FusionCombo;"/>-->
    <add key="server" value="cornl.faastdemo.com"/>
    <add key="uid" value="app"/>
    <add key="pwd" value="Fast12341234"/>
  </appSettings>
</configuration>
